:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #faf4f8;
  --bg-hero-footer-color: #2f303a;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Цвет оснвнго текста #757575 */
/* Вторичный цвет текста #212121*/
/* Первичный цвет фона  #FFFFFF */
/* Вторичный цвет фона #F5F4FA*/
/* Акцент #2196F3*/
/*Цвет footer #2F303A  */

.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-site {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #000000;
}
.logo-site-part {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}

/* Хедер */
.page-header {
}
/* Контеинер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  background-color: cornflowerblue;
}
.main-nav {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}

/*Site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
  background-color: red;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
/*  Контакты*/
.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-nav .item + .item {
  margin-left: 50px;
}

.contacts-nav .link {
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-colo);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-text-color);
}

/*Герой */
.hero {
  background-color: var(--bg-hero-footer-color);
  text-align: center;
}

.hero-title {
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
/* section */

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--primary-background-color);
  background-color: var(--accent-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Приемущества */
.benefits {
  display: flex;
}
.benefits .elements {
  background-color: crimson;
  width: 270px;
  margin-right: 30px;
}
.benefits .elements:last-child {
  margin-right: 0px;
}
.benefits-title {
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.benefits-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* Наша команда */
.team {
  display: flex;
}
.team-element {
  width: 270px;
  margin-right: 30px;
  background-color: darkgoldenrod;
}
.team .team-element:last-child {
  margin: 0px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Футер */
.contacts {
  background-color: var(--bg-hero-footer-color);
}
.addres-footer {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}
.addres-mail {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* Стили для Партфолио */
.flex-button {
  display: flex;
  justify-content: center;
}

.button-filter {
  font-family: Roboto, sans-serif;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-right: 8px;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-text-color);
}
.works {
  color: #ffffff;
  display: flex;
}
.flex-element {
  margin-right: 30px;
}
.flex-element:last-child {
  margin-right: 0px;
}
.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.works-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
